<div class="dashboard-container">
  <div class="manage-links">
    <a href="/" class="manage-link">Dashboard</a>
    <a href="/customers" class="manage-link">Manage Customers</a>
    <a href="/rooms" class="manage-link">Manage Rooms</a>
    <a href="/bookings" class="manage-link">Manage Bookings</a>
    <a href="/bookings/checked-out" class="manage-link">Checked-Out Bookings</a>
  </div>
</div>
